In python there are many datatypes, but in dealing with numbers you want to be comfortable with integers, floats, and complex numbers. In intro statistics we cover discrete probability with coin flips. I won't get into the concepts of statistics too much here. I want to cover what we can do with the python language to solve numerical problems.

In the next cell I will create a pandas dataframe to simulate 100 flips from a 20 sided die. Pandas utilizes a ton of helpful aggregate functions. We will compare the mean of the field landed_value and its standard deviation to the expected value of the die and its standard deviation (two different things by the way). If I can conceive it I'd like to think that I can model it with math or python. Any number of sides of a die or dimensions in some physics course, anything is possible.

In [25]:
import random
import pandas as pd
testlist=[]
for x in range(0,100):
  
  testlist.append(random.randint(1,20))
d={"landed_value":testlist}
die_flip=pd.DataFrame(data=d)
ex=[x*(1/20) for x in range(1,21)] #list comprehensions are very important for data science. Please cover how to generate new lists from sequences!

xsquare_p=[x**2*(1/20) for x in range(1,21) ]
print("average:", f'the average of the field is {die_flip.landed_value.mean()}', f'and the standard deviation of the field is {round(die_flip.landed_value.std(),2)}',' \n the expected value:', sum(ex), " and its standard deviation:", round(pow((sum(xsquare_p)-(sum(ex))**2),.5), 2))

average: the average of the field is 11.85 and the standard deviation of the field is 5.59
 the expected value: 10.5  and its standard deviation: 5.77

In [30]:
die_flip

    landed_value
0             20
1             20
2             14
3              4
4              1
..           ...
95             8
96             7
97            17
98            19
99             4

[100 rows x 1 columns]

I always refer people to the python documention online, but the help function can give you helpful text about a function. It can tell us roughly how the randint function works for example.

In [29]:
print(help(random.randint), help(testlist.append))

Help on method randint in module random:

randint(a, b) method of random.Random instance
    Return random integer in range [a, b], including both end points.

Help on built-in function append:

append(...) method of builtins.list instance
    L.append(object) -> None -- append object to end

None None

#bonus tip-there are probably more proper ways to calculate the standard deviation instead of using a bunch of parentheses like I did, but beware
#of order of operations in any programming language or system. The true answer below should be 9 (like it would be in your calculator) but python returns negative 9. You would want to put -3 in parentheses.

In [24]:

-3**2

-9