In [12]:
import pandas as pd
import re
survey= pd.read_csv('https://thehybrid18-bucket.s3.us-east-2.amazonaws.com/Data_Scientist_Test/survey_data.csv')
'''
Let's answer a few questions about this very large dataset
1. average salary?
2. average gpa of employees whose last names start with A?
3. most popular job tile?
4. average age of married people
'''


#we can use regex to create a boolean list of last names that start with A
#last_A= filtered dataframe with A lastnames
last_A=survey[survey.name.str.contains('[A-Z]\w+\s[A]\w+')]



#manager is the most popular job title


most_pop=survey['job'].value_counts().index


print('1. $', round(survey.salary.mean(), 2), '\n2.', round(last_A.gpa.mean(), 2), '\n3.', most_pop[0], '\n4.', survey[survey['married']==True].age.median())

1. $ 509800.01
2. 2.5
3. Manager
4. 49.0

In [0]:
#view the most popular job titles
survey['job'].value_counts()

Manager        34659
Engineer       19786
Worker         19692
Assistant      15734
Consultant     13250
               ...
Processing       457
Groundsman       455
Millwright       454
Greengrocer      449
Medal            439
Name: job, Length: 952, dtype: int64

In [0]:
survey.head(20)

                 name       location         job  salary  age  married   gpa
0       Prudy Noelani      Poyntelle       Piano  874297   32    False  2.44
1        Libbi Alisan        Manteno       Proof  193955   51    False  1.09
2      Lyndsay Colley        Raywood       Maker  857501   75    False  1.87
3           Jeni Tine       Rosemead   Solicitor  664514   57     True  1.44
4           Cecil Lon         Drasco       Nanny  875426   49     True  2.02
5       Elaine Groscr      Broadford       Floor  198265   23     True  3.64
6        Beryle Cleon          Omena    Aircraft  785053   31     True  1.88
7       Rebeka Zosema           Ider        Lift  103743   74     True  1.60
8      Lyndel Jennica       Parkdale     Highway  322870   46     True  1.62
9       Shina Mateusz    Forestburgh   Geologist  819946   57     True  1.02
10       Ginger Daffi       Archcape  Pharmacist  567148   52     True  1.82
11     Melanie Gudren       Castanea    Armourer  103217   74    False  3.45
12    Cheryl Vincenty     Bloomsdale       Agent  458170   56    False  1.93
13   Meredith Lorelei       Woodbine    Restorer  470801   71    False  2.06
14    Felisha Rosanna          Innis     Manager  246408   29    False  1.87
15   Nettle Brittaney     Mainesburg        Body  828615   63    False  1.54
16  Brigitte Packston        Owaneco         Oil  104498   33     True  3.64
17     Jesselyn Druci         Mesick        Club  176587   32     True  2.25
18        Yoko Igenia  Connellsville    Building  637441   44    False  2.14
19       Pattie Faruq    Folsomville    Chaplain  509168   36    False  3.06

In [0]:
#any null values?
survey.isnull().sum()

name        0
location    0
job         0
salary      0
age         0
married     0
gpa         0
dtype: int64

In [0]:
len(last_A)

70324

In [0]:
len(survey)

1000000

In [0]:
last_A

                    name    location        job  salary  age  married   gpa
1           Libbi Alisan     Manteno      Proof  193955   51    False  1.09
29       Kathrine Anjali     Gwinner      Plant  250913   32     True  2.22
34            Shelbi Axe  Clarksburg    Printer  570498   51     True  1.35
88        Junette Azalea    Bluffton    Vehicle  275184   71    False  3.16
131           Floria Asp  Columbiana       Farm   23916   80    False  2.25
...                  ...         ...        ...     ...  ...      ...   ...
999959      Genni Alidia     Weirton        Toy   70243   20    False  2.17
999970         Lee Aimee       Meade    Laundry  179838   73     True  1.22
999978      Margalo Alfy     Gervais  Therapist  179214   73    False  2.59
999983    Malorie Almira      Duffau     Fitter  453843   55    False  2.17
999993  Ophelie Antonino   Hurtsboro    Machine  622930   69    False  1.26

[70324 rows x 7 columns]

In [0]:
survey['salary'].mean()

509800.014999